@import "./_variables";
#MainNavBar{
    z-index: 1000;
    background-color: rgba(49, 48, 48, 0.726);
    *{
        color:$secondColor;
    }
    .navbar-brand
    {
        img{
            width: 45px;
            height: auto;
        }
    }

    #NavSearchEngine{
        input{
            color:$darkColor;
        }
    }

    .dropdown{
        .dropdown-menu{
            *{
                color:$darkColor;
            }
        }
    }
    #navbarDropdown{
        cursor: pointer !important;

        #NavProfileImage{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 1px;
            background: $secondColor;
        }
    }
    

}